@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  font-family: Georgia, "游明朝", "Yu Mincho", "游明朝体", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho ProN", "MS P明朝", "MS PMincho", HGS明朝E, "MS Mincho", serif;
  transition-duration: 1s;
}

body {
  overflow: hidden;
}

.nav {
  position: fixed;
  top: 40%;
  right: 0px;
  cursor: pointer;
}

.nav li {
  width: 10px;
  height: 10px;
  margin: 20px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5) inset, -1px -1px 1px rgba(0, 0, 0, 0.5) inset;
  list-style-type: none;
}

.menuP1 {
  display: flex;
  background-image: url(https://i.ibb.co/s1dsk01/2020-1-7-16-200716.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.menuP1 h1 {
  writing-mode: vertical-rl;
  font-weight: 100;
  letter-spacing: 30px;
  font-size: 80px;
  z-index: 2;
  color: #fff;
  position: absolute;
  top: 35%;
  left: 45%;
}

.menuleft {
  position: absolute;
  width: 50vw;
  height: 100vh;
  background-color: #fff;
  opacity: 0.3;
  z-index: 1;
}

.articleP2 {
  width: 50vw;
  height: 100vh;
  position: absolute;
  background-color: #000;
  top: 100%;
  left: 0%;
  justify-content: center;
}

.articleP2 h4 {
  margin: 15px;
  line-height: 36px;
}

.photo {
  width: 25vw;
  height: 60vh;
  background-image: url(https://i.ibb.co/m4B8VVX/1-1.jpg);
  position: absolute;
  top: 20%;
  left: 25%;
  background-size: cover;
  background-repeat: no-repeat;
}

.P2right {
  width: 50vw;
  height: 100vh;
  background-color: red;
  position: absolute;
  top: 100%;
  right: 0%;
  z-index: 50;
}

.moji {
  text-align: center;
  margin-top: 40%;
  margin-left: 25%;
  width: 25vw;
  background-color: #fff;
}

.moji h2 {
  letter-spacing: 15px;
}

.moji h5 {
  letter-spacing: 2px;
  line-height: 20px;
}

.menuP2 {
  background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
  background-size: cover;
  height: 100vh;
}

.articleP3 {
  width: 50vw;
  height: 100vh;
  position: absolute;
  background-color: #fdfcfb;
  top: 200%;
  left: 0%;
  justify-content: center;
}

.articleP3 h3 {
  writing-mode: vertical-lr;
  font-weight: 100;
  letter-spacing: 60px;
  font-size: 25px;
  z-index: 2;
  color: #000;
  position: absolute;
  top: 40%;
  left: 5%;
}

.warptest {
  border: 1px #fff solid;
  width: 100vw;
  height: 100vh;
  background-color: none;
  position: absolute;
  top: 200%;
  right: 0%;
  z-index: 50;
  display: none;
}

.list {
  transition-duration: 1s;
  background-color: none;
  display: flex;
  flex-wrap: wrap;
  width: 30vw;
  height: 50vh;
  margin-top: 1%;
  padding-bottom: 5%;
  position: absolute;
  top: 25%;
  left: 20%;
}

.warp {
  width: 25%;
  height: 25%;
  margin: auto;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-right: 3%;
  margin-top: 3%;
  border-radius: 10%;
  background-color: orange;
}

.warp:hover {
  transform: scale(1.2);
}

.warp:nth-child(1), #P1 {
  background-image: url(https://i.ibb.co/V3X5Bq3/DSCF3003.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.warp:nth-child(2), #P2 {
  background-image: url(https://i.ibb.co/YpLRBjN/DSCF2991.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.warp:nth-child(3), #P3 {
  background-image: url(https://i.ibb.co/Jd8dWkM/DSCF2289.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.warp:nth-child(4), #P4 {
  background-image: url(https://i.ibb.co/88XzytY/DSCF2533.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.warp:nth-child(5), #P5 {
  background-image: url(https://i.ibb.co/bJMTbdw/DSCF2577.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.warp:nth-child(6), #P6 {
  background-image: url(https://i.ibb.co/Tk4HK1X/DSCF26472.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.warp:nth-child(7), #P7 {
  background-image: url(https://i.ibb.co/2n8HmtP/DSCF2765.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.warp:nth-child(8), #P8 {
  background-image: url(https://i.ibb.co/dbxKTHd/DSCF2849.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.warp:nth-child(9), #P9 {
  background-image: url(https://i.ibb.co/Lg7XMgN/DSCF2896-3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.menuP3 {
  background-color: #fff;
  background-size: cover;
  height: 100vh;
}

.menuP4 {
  background-color: #000000;
  background-size: cover;
  height: 100vh;
}